# Rust
target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
dist/
*.log

# Solana
.DS_Store
test-ledger/
.localnet-ledger/
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Docker
*.pid

.cursor
.env.demo
